@charset "utf-8";

body, html {
	margin:0;
	padding:0;
	background:#ffffff;
	}
}
body{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
	background:#ffffff;
	}
body, div{
	font-family:Arial,Times New Roman sans-serif;
	font-size: 13px;
	color:#404040;
	background:#ffffff;
}
iframe {
border:1px solid #942424;
background:#ffffff;
}

.banner-container-1,
.banner-container-2,
.banner-container-3,
.banner-container-4,{
	background:#ffffff;
}

.item-box-1 a,
.item-box-2 a,
.item-box-3 a,
.item-box-4 a{ 
	text-decoration:none;
}

.item-box-1 a:hover,
.item-box-2 a:hover,
.item-box-3 a:hover,
.item-box-4 a:hover{ 
	text-decoration:underline;
	color:#fff;
}


.branding-1{
	text-align:center;
	font-family:Arial,Times New Roman sans-serif;
	padding:5px 0px 5px 0px;
}

.branding-1 a{
	font-weight:bold;
	color:#000000;
	font-size:21px;
	text-decoration:none;

}
	
.branding-1 img{
	width:30px;
}

.branding-top-left-1{
	float:left;
}

.branding-top-left-1 img{
	width:100px;
}

.branding-top-right-1 div{
	float:left;
	color:#ffffff;
	text-align:center;
	margin:0px 0px 0px 8px;
}

.branding-top-right-1 .fistline а{
	font-weight:bold;
	color:#ff0000;
}

.branding-top-right-1 .secondline a{
	font-size:15px;
	font-weight:bold;
	color:#ff0000;
}

.branding-top-right-1 a:hover{
	text-decoration:none;
}
	
.item-box-1 {
	float:left;
	margin:5px 8px 0px 8px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	background:#fff;
	padding:0px 10px 0px 0px;
	height:170px;
	border:1px solid #ebebeb;
	padding:0px 5px 0px 5px;
}

.item-box-1 img{
	width:120px;
	height:120px;
	display:block;	
	text-align:center;
	margin:0px 0px 0px 0px;

}

.promoSticker-1 {
	position:absolute; 
	margin-left:86px; 
	margin-top:-1px;
	background:#ff0000; 
	color:#ffffff; 
	padding:4px; 
	font-weight:bold; 
	font-size:15px;
}

.item-box-1 span.button{
	background:url('button.png') no-repeat;
	color:#fff;
	padding:2px 6px 3px 5px;
	display:block; 
	margin:6px 0px 0px 0px;
}

.item-box-1 span.price{
	color:#ff0000;
	font-weight:bold;
	font-size:20px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}
.item-box-1 span.price a{
	color:#ff0000;
	font-weight:bold;
}

.item-box-1 span.price a:hover{
	text-decoration:none;
}

.item-box-1 span.retailprice{
	color:#353535;
	font-size:15px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-1 span.retailprice a{
	color:#353535;
}

.item-box-1 span.retailprice a:hover{
	text-decoration:none;
}


.branding-2{
	float:left;
	margin:5px 0px 5px 0px;
	text-align:center;
}
	
.branding-2 img{
	width:180px;
}
	
.item-box-2{
	float:left;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border:1px solid #ebebeb;
	background:#fff;
	padding:0px 10px 0px 0px;
	width:160px;
	margin: 11px 5px;  

}

.item-box-2 img{
	width:70px;
	height:70px;
	display:block;	
}

.item-box-2 span.price{
	color:#ff0000;
	font-weight:bold;
	font-size:18px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-2 span.price a{
	color:#ff0000;
	font-weight:bold;
}

.item-box-2 span.price a:hover{
	text-decoration:none;
}

.item-box-2 span.retailprice{
	color:#353535;
	font-size:15px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-2 span.retailprice a{
	color:#353535;
}

.item-box-2 span.retailprice a:hover{
	text-decoration:none;
}

.item-box-2 div.pricecontainer{
margin:13px 0px 0px 5px;
}

.promoSticker-2 {
	position:absolute; 
	margin:0px;
	float:right;
	margin-top:-1px;
	background:#ff0000; 
	color:#ffffff; 
	padding:4px; 
	font-weight:bold; 
	font-size:15px;
}

.branding-3{
	float:left;
	margin:9px 0px 5px 0px;
	text-align:center;
}
	
.branding-3 img{
	width:100px;
}
	
.item-box-3{
	float:left;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border:1px solid #ebebeb;
	background:#fff;
	padding:0px 10px 0px 0px;
	width:160px;
	margin: 4px 5px;  

}

.item-box-3 img{
	width:60px;
	height:50px;
	display:block;	
}

.item-box-3 span.price{
	color:#ff0000;
	font-weight:bold;
	font-size:18px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-3 span.price a{
	color:#ff0000;
	font-weight:bold;
}

.item-box-3 span.price a:hover{
	text-decoration:none;
}

.item-box-3 span.retailprice{
	color:#353535;
	font-size:15px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-3 span.retailprice a{
	color:#353535;
}

.item-box-3 span.retailprice a:hover{
	text-decoration:none;
}

.item-box-3 div.pricecontainer{
margin:0px 0px 0px 5px;
}

.promoSticker-3 {
	position:absolute; 
	margin:0px;
	float:right;
	margin-top:-1px;
	background:#ff0000; 
	color:#ffffff; 
	padding:0px; 
	font-weight:bold; 
	font-size:15px;
}

.branding-4{
	float:left;
	margin:2px 0px 2px 20px;
	text-align:center;
}
	
.branding-4 img{
	width:120px;
}
	
.item-box-4 {
	float:left;
	margin:5px 8px 0px 8px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	background:#fff;
	padding:0px 10px 0px 0px;
	height:170px;
	border:1px solid #ebebeb;
	padding:0px 5px 0px 5px;
}

.item-box-4 img{
	width:130px;
	height:120px;
	display:block;	
	text-align:center;
	margin:0px 0px 0px 0px;

}

.promoSticker-4 {
	position:absolute; 
	margin-left:-6px; 
	margin-top:-1px;
	background:#ff0000; 
	color:#ffffff; 
	padding:4px; 
	font-weight:bold; 
	font-size:15px;
}

.item-box-4 span.price{
	color:#ff0000;
	font-weight:bold;
	font-size:18px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-4 span.price a{
	color:#ff0000;
	font-weight:bold;
}

.item-box-4 span.price a:hover{
	text-decoration:none;
}

.item-box-4 span.retailprice{
	color:#353535;
	font-size:15px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-4 span.retailprice a{
	color:#353535;
}

.item-box-4 span.retailprice a:hover{
	text-decoration:none;
}

.item-box-4 div.pricecontainer{
margin:0px 0px 0px 5px;
}


.branding-5{
	float:left;
	margin:10px 0px 5px 0px;
	text-align:center;
	width:150px;
}
	
.branding-5 img{
	width:150px;
}	


.branding-5 a{
	color:#ff0000;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
}
	
.item-box-5{
	float:left;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border:1px solid #ebebeb;
	background:#fff;
	padding:0px 10px 0px 0px;
	width:160px;
	margin: 11px 16px;  

}

.item-box-5 img{
	width:65px;
	height:65px;
	display:block;	
}

.item-box-5 span.price{
	color:#ff0000;
	font-weight:bold;
	font-size:18px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-5 span.price a{
	color:#ff0000;
	font-weight:bold;
}

.item-box-5 span.price a:hover{
	text-decoration:none;
}

.item-box-5 span.retailprice{
	color:#353535;
	font-size:15px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-5 span.retailprice a{
	color:#353535;
}

.item-box-5 span.retailprice a:hover{
	text-decoration:none;
}

.item-box-5 div.pricecontainer{
margin:10px 0px 0px 5px;
}

.promoSticker-5 {
	position:absolute; 
	margin:0px;
	float:right;
	margin-top:-1px;
	background:#ff0000; 
	color:#ffffff; 
	padding:4px; 
	font-weight:bold; 
	font-size:15px;
}


.branding-6{
	float:left;
	margin:5px 0px 5px 0px;
	text-align:center;
}
	
.branding-6 img{
	width:180px;
}
	
.item-box-6{
	float:left;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border:1px solid #ebebeb;
	background:#fff;
	padding:0px 10px 0px 0px;
	width:165px;
	margin: 11px 5px;  

}

.item-box-6 img{
	width:73px;
	height:80px;
	display:block;	
}

.item-box-6 span.price{
	color:#ff0000;
	font-weight:bold;
	font-size:18px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-6 span.price a{
	color:#ff0000;
	font-weight:bold;
}

.item-box-6 span.price a:hover{
	text-decoration:none;
}

.item-box-6 span.retailprice{
	color:#353535;
	font-size:15px;
	margin:0px 0px 0px 0px;
	display:block; 
	text-align:center;
}

.item-box-6 span.retailprice a{
	color:#353535;
}

.item-box-6 span.retailprice a:hover{
	text-decoration:none;
}

.item-box-6 div.pricecontainer{
margin:13px 0px 0px 5px;
}

.promoSticker-6 {
	position:absolute; 
	margin:0px;
	float:right;
	margin-top:-1px;
	background:#ff0000; 
	color:#ffffff; 
	padding:4px; 
	font-weight:bold; 
	font-size:15px;
}
